/** 
 * Sass(Scss)基本语法 
 */


/*
 * basic
 */

$base: #f938ab;
body {
    color: $base;
}


/*
 * 大概长什么样
 * 1.变量
 * 2.函数
 * 3.CSS样式嵌套
 * 4.内置函数、扩展函数
 */

// 1.变量以$符号开头，冒号后赋值
$base: #f938ab;
// 2.函数定义(minxin)，在minxins.less中有更多示例
@mixin box-shadow($style, $c:50%) {
    @if (isnumber($c)) {
        $c: rgba(0, 0, 0, $c);
    }
    @if iscolor($c) {
        -webkit-box-shadow: $style $c;
        box-shadow: $style $c;
    }
}

// 3.样式嵌套
.box {
    // 4.saturate Sass内置的函数
    color: saturate($base, 5%);
    border-color: lighten($base, 30%);
    div {
        @include box-shadow(0 0 5px, 30%);
    }
}
