@charset 'utf-8';

// quick import
// override global variables
$support-ie-version: 10;
// $default-font-size: 14px;
// ...your own awesome less code starts here...
body {
    background-color: #ff0;
    display: inline-block;
}

p {
    font-weight: bold;
    font-size: 16px;
}

div {
    height: 200px;
}

ul {
    li {
        padding-left: 10px;
    }
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

.funky {
    font: {
        family: fantasy;
        size: 30em;
        weight: bold;
    }
}

.box {
    display: block;
}
