/*
 * 变量插值
 */

$prefix: ui;
.#{$prefix}-button {
    color: #333;
}

// 1.选择器
$my-selector: banner;
// Usage
.#{$my-selector} {
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto;
    &:hover {
        font-weight: normal;
    }
}

// 2.URLs插值
$images: "../img";
// Usage
body {
    color: #444;
    background: url("#{$images}/white-sand.png");
}

// 3.@import插值，url()才能使用。
$themes: "../../src/less";
// Usage
//$import "#{$themes}/basis.less";
// 4.选择器插值
$property: color;
.widget {
    #{$property}: #0ee;
    background-#{$property}: #999;
    /* ps: 此时自动格式化结构可能会变哦——>编译出错 */
}

// 5.变量名插值，嗯~嗯，Sass不支持呀（然而，有啥用？）
// Variable Names
// $fnord:  "I am fnord.";
// $var:    "fnord";
// body{
//  content: $$var;
// }

/*其他*/

//三种预处理器均支持在 $media、$keyframes、$counter-style 等规则中进行插值。
$m: screen;
$orient: landscape;
@media #{$m} and (orientation: $orient) {
    body {
        width: 1000px;
    }
}

$prefix: ui;
@keyframes #{$prefix}-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
