/*
 * Less基本语法 
 */
/*
 * 最基础语法
 */
body {
  color: #f938ab;
}
/*
 * 大概长什么样
 * 1.变量
 * 2.函数
 * 3.CSS样式嵌套
 * 4.内置函数、扩展函数
 */
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
